/* Подключение шрифтов */

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
    url('/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
    url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('/fonts/ProximaNova-Bold.woff') format('woff'),
    url('/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Proxima-Nova-Regular';
  font-size: 24px;
  color: #000;
  background-color: #fff;
}

[class*="__container"] {
  max-width: 1440px;
  /* ширина макера + по 15px отступы безопасности */
  margin: 0px auto;
  padding: 0px 15px;
  /* Отступы безопасности по 15px слева и справа.
    Увеличиваем max ширину на 15+15 = 30 px */
}

/*============== Header start ==============*/
.header-menu {
  max-width: 1102px;
  position: relative;
  margin: 0px auto;
}

.menu-main:after { 
  content: "";
  display: table;
  clear: both;
} /*хуй знает почему и как работает это*/

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
  margin: 0px 95px 0px 0px;
}

.menu-item:nth-child(4),
.menu-item:nth-child(5) {
  margin: 0px 0px 0px 80px;
}

.menu-item a {
  text-transform: uppercase;
  display: block;
  line-height: 14px;
  padding: 40px 0px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #000000;
  transition: .3s linear;
}

.left-item {
  float: left;
}

.right-item {
  float: right;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(30px);
}

@media (max-width: 940px) {

  .menu-item:nth-child(1),
  .menu-item:nth-child(2) {
    margin: 0px 70px 0px 0px;
  }

  .menu-item:nth-child(4),
  .menu-item:nth-child(5) {
    margin: 0px 0px 0px 60px;
  }
}

@media (max-width: 830px) {
  .menu-main {
    padding-top: 100px;
    text-align: center;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  .header-img {
    width: 80%;
  }

  .menu-main li {
    float: none;
    display: inline-block;
  }

  .menu-main a {
    font-size: 16px;
    padding: 20px 20px;
  }

  .menu-item {
    padding: 0px;
  }
}

@media (max-width: 630px) {
  .menu-main li {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .menu-item:nth-child(1),
  .menu-item:nth-child(2) {
    margin: 0px
  }

  .menu-item:nth-child(4),
  .menu-item:nth-child(5) {
    margin: 0px;
  }
}

/*============== Header end ==============*/

/*============== Main screen start ==============*/
.main-learn {
  position: relative;
  padding: 95px 0px 75px 0px;
}

.main-learn__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-learn_content {
  flex: 0 1 55%;
  padding: 100px 0px 0px 145px;
}

.main-learn_image {
  flex: 0 1 45%;
  align-items: center;
  position: relative;
}

.main-learn_image img {
  width: 100%;
}

.text-block {
  max-width: 646px;
}

.text-block_title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #2C6F2F;
  text-transform: uppercase;
}

.text-block_title:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.text-block_text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.text-block_text:not(:last-child) {
  margin: 0px 0px 55px 0px;
}

.text-block_button {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

.button {
  background: #B7D271;
  border-radius: 15px;
  padding: 15px 120px;
}

.main-learn_branch-1 {
  position: absolute;
  top: 525px;
  left: -79px;
  z-index: -1;
}

.main-learn_branch-1 img {
  width: 495px;
  height: 331px;
}

.main-learn_branch-2 {
  position: absolute;
  top: 380px;
  right: -126px;
  transform: rotate(-169deg);
  z-index: 2;
}

.main-learn_branch-2 img {
  width: 495px;
  height: 331px;
  }

.main-learn_branch-3 {
  position: absolute;
  top: 185px;
  left: -80px;
  transform: scale(1, -1) rotate(114deg);
  z-index: -2;
}

.main-learn_branch-3 img {
  width: 465px;
  height: 305px;
}

.main-learn_cone-1 {
  position: absolute;
  top: 55px;
  left: 70px;
}

.main-learn_cone-2 {
  position: absolute;
  top: 520px;
  left: 585px;
  transform: rotate(95deg);
}

.main-learn_cone-3 {
  position: absolute;
  top: -40px;
  right: 0px;
}

@media (max-width: 1024px) {
  .main-learn_content {
    flex: 0 1 55%;
    padding: 100px 0px 0px 30px;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 510px;
    left: -79px;
    z-index: -1;
  }
  
  .main-learn_branch-1 img {
    width: 85%;
    height: 85%;
  }

  .main-learn_branch-2 img{
    width: 85%;
    height: 85%;
  }

  .main-learn_branch-3 {
    display: none;
  }

  .main-learn_image {
    flex: 0 1 45%;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }

}

@media (max-width: 768px) {
  .main-learn_branch-2 {
    position: absolute;
    top: 380px;
    right: -126px;
    transform: rotate(-169deg);
    z-index: 2;
    display: none;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 470px;
    left: -20px;
    z-index: -1;
    opacity: 0.5;
  }

  .main-learn_cone-2 {
    position: absolute;
    top: 520px;
    left: 585px;
    transform: rotate(95deg);
    display: none;
  }

  .main-learn_content {
    flex: 0 1 100%;
    padding: 70px 0px 0px 0px;
  }

  .main-learn {
    position: relative;
    padding: 40px 0px 75px 0px;
  }

  .main-learn_cone-1 {
    position: absolute;
    top: -60px;
    left: 10px;
  }

  .main-learn_cone-3 {
    position: absolute;
    top: -90px;
    right: 0px;
  }

  .main-learn_image {
    padding: 60px 0px 0px 0px;
    width: 70%;
    margin: 0 auto;
  }

  .main-learn__container {
    display: block;
  }

}

@media (max-width: 320px) {
  .main-learn_cone-3 {
    display: none;
  }

  .text-block_title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    color: #2C6F2F;
    text-transform: uppercase;
  }
  
  .text-block_title:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  .text-block_text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  .text-block_button {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .button {
    background: #B7D271;
    border-radius: 15px;
    padding: 10px 95px;
  }

  .main-learn_image {
    padding: 60px 0px 0px 0px;
    width: 100%;
    margin: 0 auto;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 420px;
    left: -20px;
    z-index: -1;
    opacity: 0.6;
  }

}

/*============== Main screen end ==============*/

/*============== Second screen start ==============*/