/* Подключение шрифтов */

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
    url('/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
    url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('/fonts/ProximaNova-Bold.woff') format('woff'),
    url('/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  /* убираем горизонтальный скролл */
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Proxima-Nova-Regular';
  font-size: 24px;
  color: #000;
  background-color: #fff;
}

[class*="__container"] {
  max-width: 1440px;
  /* ширина макера + по 15px отступы безопасности */
  margin: 0px auto;
  padding: 0px 15px;
  /* Отступы безопасности по 15px слева и справа.
    Увеличиваем max ширину на 15+15 = 30 px */
}

/* ============== БЭМ элементы start  ==================== */

.simple-text {
  font-family: 'Proxima Nova';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  columns: #000000;
}

@media (max-width: 425px) {
  .simple-text {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    columns: #000000;
  }
}

.button {
  background: #B7D271;
  border-radius: 15px;
  height: 72px;
  min-width: 350px;
}

.small-button {
  background: #B7D271;
  border-radius: 15px;
  height: 72px;
  min-width: 171px;
}

.text-big_button {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .button {
    min-width: 100%;
  }

  .small-button {
    min-width: 100%;
  }
}

.subtext {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

@media (max-width: 768px) {

  .subtext {
    color: #000000;
  }
}

/* ============== БЭМ элементы end ==================== */

/*============== Header start ==============*/
.header-menu {
  max-width: 1102px;
  position: relative;
  margin: 0px auto;
}

.menu-main:after {
  content: "";
  display: table;
  clear: both;
}

/*хуй знает почему и как работает это*/

.menu-item:nth-child(1),
.menu-item:nth-child(2) {
  margin: 0px 95px 0px 0px;
}

.menu-item:nth-child(4),
.menu-item:nth-child(5) {
  margin: 0px 0px 0px 80px;
}

.menu-item a {
  text-transform: uppercase;
  display: block;
  line-height: 14px;
  padding: 40px 0px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #000000;
  transition: .3s linear;
}

.left-item {
  float: left;
}

.right-item {
  float: right;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(30px);
}

@media (max-width: 940px) {

  .menu-item:nth-child(1),
  .menu-item:nth-child(2) {
    margin: 0px 70px 0px 0px;
  }

  .menu-item:nth-child(4),
  .menu-item:nth-child(5) {
    margin: 0px 0px 0px 60px;
  }
}

@media (max-width: 830px) {
  .menu-main {
    padding-top: 100px;
    text-align: center;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  .header-img {
    width: 80%;
  }

  .menu-main li {
    float: none;
    display: inline-block;
  }

  .menu-main a {
    font-size: 16px;
    padding: 20px 20px;
  }

  .menu-item {
    padding: 0px;
  }
}

@media (max-width: 630px) {
  .menu-main li {
    display: block;
    margin: 0px;
    padding: 0px;
  }

  .menu-item:nth-child(1),
  .menu-item:nth-child(2) {
    margin: 0px
  }

  .menu-item:nth-child(4),
  .menu-item:nth-child(5) {
    margin: 0px;
  }
}

/*============== Header end ==============*/

/*============== Main screen start ==============*/
.main-learn {
  position: relative;
  padding: 95px 0px 75px 0px;
}

.main-learn__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-learn_content {
  flex: 0 1 55%;
  padding: 100px 0px 0px 145px;
}

.main-learn_image {
  flex: 0 1 45%;
  align-items: center;
  position: relative;
}

.main-learn_image img {
  width: 100%;
}

.text-block {
  max-width: 646px;
}

.text-block_title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #2C6F2F;
  text-transform: uppercase;
}

.main-learn-title {
  margin: 0px 0px 45px 0px;
}

.text-block_text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.text-block_text:not(:last-child) {
  margin: 0px 0px 55px 0px;
}

.main-learn_branch-1 {
  position: absolute;
  top: 525px;
  left: -79px;
  z-index: -1;
}

.main-learn_branch-1 img {
  width: 495px;
  height: 331px;
}

.main-learn_branch-2 {
  position: absolute;
  top: 380px;
  right: -126px;
  transform: rotate(-169deg);
  z-index: 2;
}

.main-learn_branch-2 img {
  width: 495px;
  height: 331px;
}

.main-learn_branch-3 {
  position: absolute;
  top: 185px;
  left: -80px;
  transform: scale(1, -1) rotate(114deg);
  z-index: -2;
}

.main-learn_branch-3 img {
  width: 465px;
  height: 305px;
}

.main-learn_cone-1 {
  position: absolute;
  top: 55px;
  left: 70px;
}

.main-learn_cone-2 {
  position: absolute;
  top: 520px;
  left: 585px;
  transform: rotate(95deg);
}

.main-learn_cone-3 {
  position: absolute;
  top: -40px;
  right: 0px;
}

@media (max-width: 1024px) {
  .main-learn_content {
    flex: 0 1 55%;
    padding: 100px 0px 0px 30px;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 510px;
    left: -79px;
    z-index: -1;
  }

  .main-learn_branch-1 img {
    width: 85%;
    height: 85%;
  }

  .main-learn_branch-2 img {
    width: 85%;
    height: 85%;
  }

  .main-learn_branch-3 {
    display: none;
  }

  .main-learn_image {
    flex: 0 1 45%;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }

  .main-learn-title {
    font-size: 40px;
    line-height: 50px;
  }

}

@media (max-width: 768px) {
  .main-learn_branch-2 {
    position: absolute;
    top: 380px;
    right: -126px;
    transform: rotate(-169deg);
    z-index: 2;
    display: none;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 470px;
    left: -20px;
    z-index: -1;
    opacity: 0.5;
  }

  .main-learn_cone-2 {
    position: absolute;
    top: 520px;
    left: 585px;
    transform: rotate(95deg);
    display: none;
  }

  .main-learn_content {
    flex: 0 1 100%;
    padding: 70px 0px 0px 0px;
  }

  .main-learn {
    position: relative;
    padding: 40px 0px 75px 0px;
  }

  .main-learn_cone-1 {
    position: absolute;
    top: -60px;
    left: 10px;
  }

  .main-learn_cone-3 {
    position: absolute;
    top: -90px;
    right: 0px;
  }

  .main-learn_image {
    padding: 60px 0px 0px 0px;
    width: 70%;
    margin: 0 auto;
  }

  .main-learn__container {
    display: block;
  }

}

@media (max-width: 425px) {
  .main-learn_cone-3 {
    display: none;
  }

  .text-block_title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 40px;
    color: #2C6F2F;
    text-transform: uppercase;
  }

  .text-block_title:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  .text-block_text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  .main-learn_image {
    padding: 60px 0px 0px 0px;
    width: 100%;
    margin: 0 auto;
  }

  .main-learn_branch-1 {
    position: absolute;
    top: 420px;
    left: -20px;
    z-index: -1;
    opacity: 0.6;
  }

}

/*============== Main screen end ==============*/

/*============== Second screen start ==============*/

.map {
  position: relative;
}

.map_content {
  display: flex;
  padding: 120px 0px 100px 0px;
  align-items: center;
}

.map_image {
  margin-right: 40px;
  flex: 0 1 62%;
}

.map_image img {
  width: 100%;
}

.map-text {
  flex: 0 1 38%;
  max-width: 385px;
}

.map-branch {
  position: absolute;
  left: -55px;
  bottom: -20px;
  transform: rotate(-59deg);
}

.map-branch img {
  width: 100%;
}

@media (max-width: 1024px) {

  .map-branch {
    position: absolute;
    left: -80px;
    bottom: 90px;
    transform: rotate(-59deg);
  }

  .map-branch img {
    width: 70%;
  }
}

@media (max-width: 768px) {

  .map_content {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 0px 50px 0px;
  }

  .map-text {
    /* !!! Очень важно!! Иначе не работало!!! */
    display: flex;
    max-width: 100%;
  }

  .map_image {
    display: flex;
    padding: 50px 0px 0px 0px;
    margin: 0px;
  }

  .map-branch {
    position: absolute;
    left: -80px;
    bottom: 60px;
    transform: rotate(-59deg);
  }

  .map-branch img {
    width: 70%;
  }

}

@media (max-width: 660px) {

  .map-branch {
    position: absolute;
    left: -100px;
    bottom: 290px;
    transform: rotate(-59deg);
    z-index: -1;
  }

  .map-branch img {
    width: 80%;
    opacity: 0.3;
  }

}

/*============== Second screen end ==============*/

/*============== Cards screen start ==============*/

.main-cards__container {
  display: flex;
  justify-content: center;
  position: relative;
}

.main-cards_content {
  max-width: 1100px;
  padding: 65px 0px 0px 0px;
}

.main-cards_text {
  display: flex;
  text-align: center;
  padding: 0px 0px 150px 0px;
}

.main-cards_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-card_item {
  width: 341px;
  height: 341px;
  border-radius: 69px;
  background-color: #B7D271;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 37px 0px;
  position: relative;
}

.main-card_item-cat {
  position: absolute;
  top: -130px;
}

.main-cards_content button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.main-card_img_bt {
  position: relative;
}

.main-card_img_bt img {
  position: absolute;
  right: 130px;
  top: -60px;
}

.main-card_item_cone {
  position: absolute;
  top: -80px;
  right: -80px;
  transform: rotate(90deg);
}

.main-card_item_cone-1 {
  position: absolute;
  left: 150px;
  bottom: -70px;
  z-index: 3;
}

.main-card_item_cone-1 img {
  width: 90%;
}

@media (max-width: 1024px) {

  .main-card_item {
    width: 300px;
    height: 300px;
  }

  .main-card_img_bt img {
    right: 80px;
    top: -60px;
  }

  .main-card_item-cat img {
    width: 100%;
  }

  .main-card_item-cat {
    top: -105px;
  }

}

@media (max-width: 768px) {

  .main-cards_items {
    justify-content: space-around;
  }

  .main-card_img_bt img {
    width: 30%;
    right: -20px;
    top: -50px;
  }

}

@media (max-width: 425px) {

  .main-card_item {
    width: 250px;
    height: 250px;
  }

  .main-cards_text {
    text-align: left;
    padding: 0px 0px 70px 0px;
  }

  .main-card_img_bt img {
    width: 80%;
    left: 0px;
    top: 90px;
  }

  .main-card_item-cat {
    top: -85px;
  }

  .main-card_item_cone {
    top: -20px;
    right: -70px;
  }

  .main-card_item_cone img {
    width: 70%;
  }

  .main-card_item_cone-1 {
    left: 0px;
    bottom: 70px;
  }

  .main-card_item_cone-1 img {
    width: 70%;
  }

}

/*============== Cards screen end ==============*/


/*============== Losos screen start ==============*/

.main-fish {
  position: relative;
}

.main-fish__container {
  display: flex;
  justify-content: center;
}

.main-fish_block {
  display: flex;
  flex-wrap: wrap;
  padding: 310px 0px 0px 0px;
}

.main-fish_image {
  flex: 0 1 53%;
}

.main-fish_image img {
  width: 100%;
}

.main-fish_content {
  flex: 0 1 47%;
  max-width: 560px;
}

.main-fish-numbers {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #D0D0D0;
  margin: 0px 0px 20px 0px;
}

.main-fish-numbers-border td {
  padding: 0px 10px;
}

.main-fish-numbers-border td:not(:last-child) {
  border-right: 2px solid #C4C4C4;
}

.main-fish_title {
  margin: 0px 0px 20px 0px;
}

.main-fish_text {
  margin: 0px 0px 16px 0px;
}

.main-fish_subtext {
  margin: 0px 0px 45px 0px;
}

.block_buttons {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  justify-content: space-between;
  gap: 14px 0px;
}

.main-fish-branch-left {
  position: absolute;
  left: -46px;
  top: 451px;
  z-index: 3;
}

.main-fish-branch-left img {
  width: 358px;
}

.main-fish-branch-right {
  position: absolute;
  right: -160px;
  top: 140px;
  z-index: 3;
  transform: scale(1, -1) rotate(-154deg);
}

.main-fish-branch-right img {
  width: 380px;
}

@media (max-width: 1024px) {

  .main-fish-branch-left img {
    width: 70%;
  }

  .main-fish-branch-right {
    z-index: -6;
  }

  .main-fish-branch-right img {
    width: 70%;
    opacity: 0.5;
  }

}

@media (max-width: 768px) {

  .main-fish_block {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 180px 0px 0px 0px;
  }

  .main-fish-branch-left {
    left: -46px;
    top: 340px;
  }

  .main-fish-branch-left img {
    width: 70%;
    opacity: 0.3;
  }

  .main-fish-branch-right {
    top: 190px;
    z-index: 3;
  }

  .main-fish-branch-right img {
    width: 70%;
    opacity: 0.3;
  }

  .main-fish_image {
    display: flex;
    justify-content: center;
    padding: 120px 0px 60px 0px;
  }

  .main-fish_image img {
    width: 80%;
  }

}

@media (max-width: 425px) {

  .main-fish_title {
    font-weight: 600;
    font-size: 55px;
    line-height: 50px;
  }

  .main-fish_block {
    width: 100%;
    padding: 450px 0px 0px 0px;
  }

  .main-fish-numbers {
    display: flex;
    font-size: 24px;
    line-height: 37px;
    justify-content: center;
  }

  .main-fish-branch-left {
    top: 650px;
  }

  .block_buttons {
    width: 100%;
  }

  .main-fish_subtext {
    margin: 0px 0px 15px 0px;
  }

  .main-fish_image {
    padding: 80px 0px 40px 0px;
  }

  .main-fish-branch-left img {
    width: 80%;
    opacity: 0.3;
  }

  .main-fish-branch-right {
    display: none;
  }

  .main-fish_image img {
    width: 100%;
  }

}

/*============== Losos screen end ==============*/

/*============== Deer screen start ==============*/

.main-deer {
  position: relative;
}

.main-deer__container {
  display: flex;
  justify-content: flex-end;
}

.main-deer_block {
  display: flex;
  flex-wrap: wrap;
  padding: 172px 0px 0px 0px;
}

.main-deer-branch-right {
  position: absolute;
  right: -140px;
  bottom: 10px;
  z-index: 3;
  transform: scale(1, -1) rotate(-154deg);
}

.main-deer-branch-right img {
  width: 100%
}

.main-deer_content {
  flex: 0 1 47%;
  max-width: 546px;
}

.main-deer_image {
  flex: 0 1 53%;
}

.main-deer_image img {
  width: 108%;
}

.deer_image {
  position: absolute;
  bottom: -65px;
  right: 272px;
  z-index: 5;
}

.deer_image img {
  width: 100%;
}

.main-deer_content>h1,
.main-deer_content>div {
  text-align: right;
}

.main-deer_content table {
  display: flex;
  justify-content: flex-end;
}

.main-deer_table td {
  padding: 0px 40px;
}

.main-deer_buttons {
  margin-left: auto;
}

@media (max-width: 1024px) {

  .main-deer-branch-right {
    z-index: -6;
  }

  .main-deer-branch-right img {
    width: 70%;
  }

  .deer_image {
    right: 130px;
  }

  .deer_image img {
    width: 90%;
  }

}

@media (max-width: 768px) {

  .main-deer_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 70px 0px 0px 0px;
  }

  .main-deer_content>h1,
  .main-deer_content>div {
    text-align: left;
  }

  .main-deer_content table {
    display: flex;
    justify-content: flex-start;
  }

  .main-deer_buttons {
    margin-left: 0px;
  }

  .main-deer_image {
    display: flex;
    justify-content: center;
    padding: 80px 0px 60px 0px;
  }

  .main-deer_image img {
    width: 80%;
  }

  .deer_image {
    bottom: 0px;
  }

  .deer_image img {
    width: 70%;
  }

}

@media (max-width: 425px) {

  .main-deer-branch-right {
    bottom: 0px;
  }

  .main-deer-branch-right img {
    width: 70%;
    opacity: 0.5;
  }

  .main-deer_image {
    padding: 60px 0px 60px 0px;
  }

  .main-deer_image img {
    width: 100%;
  }

  .deer_image {
    bottom: 0px;
  }

  .deer_image img {
    width: 110%;
  }

}

/*============== Deer screen end ==============*/

/*============== Bull screen start ==============*/
.wrap__branch {
  width: 496px;
  height: 331px;
}

.main-bull-branch-left {
  position: absolute;
  background: url(../img/branch.png) no-repeat;
  transform: rotate(-30.83deg);
  bottom: 55px;
  left: -114px;
  z-index: 5;
}

.main-bull-branch-right {
  position: absolute;
  background: url(../img/branch.png) no-repeat;
  background-size: 489px 323px;
  transform: matrix(-0.74, -0.67, -0.67, 0.74, 0, 0);
  bottom: -160px;
  right: -155px;
}

.main-bull {
  position: absolute;
  left: 109px;
  bottom: -92px;
  z-index: 10;
}

.main-fish-bull_block {
  display: flex;
  flex-wrap: wrap;
  padding: 230px 0px 0px 0px;
}

.main-bull-branch-right {
  position: absolute;
}

@media (max-width: 1024px) {

  .main-bull-branch-left {
    background-size: 80%;
  }

  .main-bull-branch-right {
    background-size: 80%;
    z-index: -2;
    opacity: 0.5;
  }

  .main-bull {
    left: 20px;
  }

}

@media (max-width: 768px) {

  .main-bull-branch-left {
    background-size: 80%;
  }

  .main-bull-branch-right {
    bottom: 525px;
  }

  .main-bull {
    left: 0px;
  }

  .main-bull img {
    width: 90%;
  }

  .main-fish-bull_block {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 100px 0px 0px 0px;
  }
}

@media (max-width: 425px) {

  .main-bull-branch-left {
    z-index: -3;
    opacity: 0.5;
    background-size: 70%;
  }

  .main-bull {
    bottom: 0px;
  }

  .main-bull {
    width: 70%;
  }

  .main-fish-bull_block {
    width: 100%;
    padding: 70px 0px 0px 0px;
  }
}

/*============== Bull screen end ==============*/

/*============== Trust screen start ==============*/

.trust__container h1 {
  text-align: center;
}

.main-trust-title {
  padding: 215px 0px 110px 0px;
}

.trust-box {
  display: flex;
  justify-content: center;
}

.trust-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-trust {
  width: 1022px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next {
  transform: scale(-1, 1);
}

.button-slider {
  background-color: #fff;
}

@media (max-width: 768px) {

  .wrapper-trust {
    width: 700px;
  }

}

@media (max-width: 425px) {

  .main-trust-title {
    padding: 80px 0px 10px 0px;
  }

}

/*============== Trust screen end ==============*/

/*============== Delivery screen start ==============*/

.main-delivery {
  padding: 193px 0px 0px 0px;
}

.delivery__container {
  display: flex;
  justify-content: flex-end;

}

.delivery-content {
  width: 490px;
}

.delivery-content h1 {
  margin-bottom: 45px;
}

.delivery-image img {
  width: 100%;
}

@media (max-width: 768px) {
  .delivery__container {
    flex-direction: column;
  }

  .delivery-content {
    width: 100%;
  }

  .delivery-image {
    padding-top: 40px;
  }
}

@media (max-width: 425px) {

  .main-delivery {
    padding: 80px 0px 0px 0px;
  }

}

/*============== Delivery screen end ==============*/

/*============== Conntacts screen start ==============*/

.main-contacts {
  padding: 130px 0px 0px 0px;
}

.contacts__container {
  display: flex;
  justify-content: center;
}

.contacts-map {
  width: 520px;
  height: 520px;
  position: relative;
}

/* Благодаря тому что внизу и вверху получаем адаптивную карту */

.main-contacts {
  position: relative;
}

.contacts-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contacts-content {
  margin-left: 26px;

}

.contacts-content>*:not(:last-child) {
  margin-bottom: 50px;
}

.contacts {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.contacts li {
  display: flex;
  align-items: center;
  max-width: 450px;
}

.contacts li:not(:last-child) {
  margin-bottom: 35px;
}

.contacts li:nth-child(1):before {
  flex: 0 0 55px;
  /* Даем жесткую ширину и запрещаем зименяться */
  height: 55px;
  content: "";
  background: url(../img/tel.svg) no-repeat center center;
  margin-right: 20px;
}

.contacts li:nth-child(2):before {
  flex: 0 0 55px;
  height: 55px;
  content: "";
  background: url(../img/geo.svg) no-repeat center center;
  margin-right: 20px;
}

.contacts li:nth-child(3):before {
  flex: 0 0 55px;
  height: 55px;
  content: "";
  background: url(../img/inst.svg) no-repeat center center;
  margin-right: 20px;
}

.contacts-content div {
  max-width: 554px;
}

.contacts-branch-left {
  position: absolute;
  background: url(../img/branch.png) no-repeat left bottom;
  background-size: 382px 252px;
  transform: matrix(0.93, 0.37, 0.37, -0.93, 0, 0);
  left: -40px;
  top: 0px;
  z-index: 5;

}

.contacts-branch-right {
  position: absolute;
  background: url(../img/branch.png) no-repeat;
  background-size: 490px 323px;
  transform: matrix(-0.89, 0.46, 0.46, 0.89, 0, 0);
  right: -185px;
  top: 30px;
  z-index: -1;
}

@media (max-width: 1024px) {

  .contacts-branch-right {
    opacity: 0.5;
  }

}

@media (max-width: 768px) {

  .contacts__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .contacts li {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .contacts-content {
    width: 100%;
    margin: 0px;
  }

  .contacts-content div {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .contacts-map {
    width: 100%;
    height: 520px;
  }

  .contacts-branch-left {
    display: none;
  }

}

@media (max-width: 425px) {

  .contacts {
    font-size: 24px;
    line-height: 30px;
  }

  .contacts li:not(:last-child) {
    margin-bottom: 10px;
  }

  .main-contacts {
    padding: 50px 0px 0px 0px;
  }

  .contacts-branch-right {
    background-size: 80%;
    opacity: 0.4;
  }

}

/*============== Conntacts screen end ==============*/

/*============== Footer screen start ==============*/

.footer {
  padding: 170px 0px 80px 0px;
  border-bottom: 1px dashed rgb(179, 179, 179);
}

.footer__container {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
}

/*============== Footer screen end ==============*/

.disclaimer {
  font-size: 18px;
  padding: 30px 0px;
}